<% include("../layouts/header.ejs") %>

<h1>Forget</h1>

<form action="" method="post" >

  <input type="password" name="password" placeholder="Enter Your Password" required>
  <br><br>
  <input type="hidden" name="name" value="<%= user_id %>">
  <input type="submit" value="Reset Password">
</form>

  